.map {
  width: 45vw;
  height: 45vh;
  background-color: gray;
}

.floating-range {
  /* position: fixed;
  bottom: 50px;
  left: 50px;
  align-items: center;
  justify-content: right; */
  z-index: inherit;
  @apply shadow-slate-500 rounded-md w-1/2;
}
