<div class="flex flex-col flex-1 p-3">
  <h4 class="title">Properties</h4>
  <hr />
  <form class="flex flex-row items-center justify-start gap-4 my-6 px-5">
    <mat-form-field>
      <mat-label>Filter by city</mat-label>
      <input type="text" matInput placeholder="Ex. Santa Fe" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="button">Search</button>
  </form>

  <app-housing-location
    class="flex-grow"
    [housingLocation]="housingLocations"
  ></app-housing-location>
</div>
