<div
  class="flex flex-col justify-start gap-3 h-full w-full items-center p-4 bg-gradient-to-br from-gray-700 to-gray-900"
>
  @for(item of menu; track item.name) {
  <button
    mat-button
    color="primary"
    class="justify-start w-full text-light-primary-text"
    (click)="navigate(item)"
  >
    <mat-icon>{{ item.icon }}</mat-icon> {{ item.name }}
  </button>
  @if(item.subMenu){ @for(subItem of item.subMenu; track subItem.name) {
  <div class="ml-2 w-[90%]">
    <button
      mat-button
      color="primary"
      class="justify-start w-full text-light-primary-text"
      (click)="navigate(subItem)"
    >
      <mat-icon> chevron_right </mat-icon> {{ subItem.name }}
    </button>
  </div>

  } } }
</div>
