mat-toolbar {
  display: flex;
  justify-content: start;
  flex: 1 1 auto;
  background-color: var(--dark-primary-text);
  height: 64px;
  z-index: 9999 !important;
  @apply shadow-lg;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
mat-icon {
  color: var(--gray-300);
}

.mat-custom {
  color: var(--gray-300) !important;
}

.brand-logo {
  padding-top: 0.5rem;
  height: 60px;
}
