mat-toolbar {
  display: flex;
  justify-content: start;
  flex: 1 1 auto;
  background-color: #000000;
  height: 64px;
  z-index: 9999 !important;
  @apply shadow-lg;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
mat-icon {
  color: #e5e5e5;
}

.mat-custom {
  color: #e5e5e5 !important;
}

.brand-logo {
  padding-top: 0.5rem;
  height: 60px;
}
